@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$purple: #673de6;
$pink: #ff3682;
$dark-orange: #ff8158;
$orange: #ffc14a;
$yellow: #fed569;
$black: #1e1926;
$green: #00ac87;
$light-purple: #faeaff;
$light-green: #52fbde;
$light-blue: #00d0ff;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //>>>>>>
  // Read this if you reach this
  // first I use Montserrat fonts for big headings but after sometimes I decide to use "Poppins" font for full websie for typography
  // you can also check website typography with "Montserrat font"  ? just uncomment "Montserrat" font-family line & comment "Poppins" font-family line :)
  //>>>>>>

  // font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  transition: all 0.1s;
}
html {
  font-size: 92%;
}
.App {
  position: relative;
  // overflow-x: hidden;
}
button {
  white-space: nowrap;
}
.primary-btn {
  border-radius: 44px;
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
  font-weight: 500;
  padding: 15px 30px;
  cursor: pointer;
  outline: none;
}
::selection {
  background: rgba($purple, 0.8);
  color: white;
}

.hero-page {
  // background: url(../img/bg-gradient-1.png);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  background: linear-gradient(
    15deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 35%,
    rgba(72, 255, 185, 0.15) 50%,
    rgba($light-purple, 0.15) 60%,
    rgba(252, 252, 252, 1) 70%,
    rgba(252, 252, 252, 1) 75%,
    rgba(255, 255, 255, 1) 100%
  );
}
